/* Общие настройки для контейнеров */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9fb;
    margin: 0;
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column; /* Элементы располагаются по вертикали */
    align-items: center;
}

h1 {
    text-align: center;
    color: #0076ff;
    font-size: 60px;
    margin-top: 80px;
    margin-bottom: 15px;
}

#stat {
    border-radius: var(--border-radius);
}

.section {
    border-radius: var(--border-radius);
    margin: 5px auto;
    max-width: 600px;
    background: white;
    border: 1px solid #908d8d; /* Темная обводка */
    box-shadow: 0 0 4px rgba(11, 0, 0, 0.1);
    padding: 0;
    width: 100%;
}

.section-header {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.section-content {
    padding: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.row {
    display: flex;
    gap: 10px; /* Расстояние между элементами */
    align-items: center; /* Вертикальное выравнивание по центру */
}

select, .button {
    flex-shrink: 0; /* Запрещаем сжатие элементов */
    height: 40px; /* Устанавливаем одинаковую высоту для всех элементов */
    display: flex; /* Убедитесь, что кнопка и селект имеют одинаковый тип отображения */
    align-items: center; /* Центрируем содержимое по вертикали */
}

select {
    flex-grow: 1; /* Позволяет селекту расширяться */
}

#group {
    width: 80%; 
  }

select, input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--grey-color);
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}

.button {
    margin: 10px auto; /* Центрируем кнопку по горизонтали */
    display: block; /* Делаем кнопку блочным элементом */
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.button:hover {
    background-color: var(--secondary-color);
}

.row {
    display: flex;
    gap: 10px; /* Расстояние между элементами */
    align-items: center; /* Вертикальное выравнивание по центру */
}

select, .button {
    flex-shrink: 0; /* Запрещаем сжатие элементов */
}

.svg-icon {
    width: 18px;
    height: 18px;
    fill: white;
}

.section a {
    color: rgb(252, 252, 252); 
    display: flex;
    align-items: center;
}