{% extends "base.html" %}

{% load static %}

{% block title %}Суммарная статистика{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/error_stats.css' %}" />
    {% endblock %}

{% block content %}  

    <main class="page">
      <h2 class="title">Суммарная статистика ошибок</h2>

      <div class="stats-block">
        <div class="legend">
          <div class="legend-item">
            <div class="legend-box" data-level="lvl-0"></div>
            <span>Ошибки одной степени или отсутствуют теги</span>
          </div>
          <div class="legend-item">
            <div class="legend-box" data-level="lvl-1"></div>
            <span>Ошибки двух степеней</span>
          </div>
          <div class="legend-item">
            <div class="legend-box" data-level="lvl-2"></div>
            <span>Ошибки трёх степеней</span>
          </div>
        </div>

        <!-- Таблица -->
        <table class="errors-table">
          <thead>
            <tr>
              <th rowspan="2">Тег ошибки</th>
              <th colspan="3">Степень грубости</th>
            </tr>
            <tr>
              <th>I</th>
              <th>II</th>
              <th>III</th>
            </tr>
          </thead>
          <tbody>
            {% for parent_tag, child_tags in tags_error.items %}
            <tr
              style="
                background-color: #0077ffd2;
                color: white;
                font-weight: bold;
              "
            >
              <td colspan="4">{{ parent_tag }}</td>
            </tr>
            {% for tag in child_tags %}
            <tr style="background-color: {{ tag.color }};">
              <td style="padding-left: 20px">{{ tag.nametag }}</td>
              <td>{{ tag.level1 }}</td>
              <td>{{ tag.level2 }}</td>
              <td>{{ tag.level3 }}</td>
            </tr>
            {% endfor %} {% empty %}
            <tr>
              <td colspan="4">Нет данных об ошибках</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
{% endblock %}
