<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div id="header-container"></div>
    <div class="container">
        <a href="{% url 'show_text_markup' %}">Перейти к разметке текста</a>
        <a href="{% url 'annotate_text' %}">Перейти к аннотированию</a>
        <a href="{% url 'show_texts' %}">Перейти к поиску текстов</a>

        <a href="{% url 'show_students' %}">Перейти к списку студентов</a>

        <a href="{% url 'show_groups' %}">Перейти к списку групп</a>
        <a href="{% url 'error_stats' %}">Перейти к статистике</a>
        <a href="{% url 'statistics' %}">Перейти к статистике</a>
    </div>
</body>
<!-- Шапка убрать коммент, если нужна
    <script> 
        document.addEventListener('DOMContentLoaded', function() {
        fetch('/static/templates/base.html')
            .then(response => response.text())
            .then(data => {
            document.getElementById('header-container').innerHTML = data;
            let user_fio = "{{ fio|escapejs }}"; 
            document.getElementById('user-link').textContent = user_fio;
            });
        });
    
    </script>-->
</html>